@charset "utf-8";

.video-container {
    position: relative;
    margin-top: 50px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    border-radius: 15px;
    
}