@charset "utf-8";


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-image: url("https://imgs.search.brave.com/RJ4DV3T4SUTstqPoSrKGIL0Fbqt7mQTmBFrBmES9gVc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvdGh1/bWJuYWlscy8wNjgv/Mjk1LzIwOS9zbWFs/bC9saWdodC1zdHJl/YW1zLXRocm91Z2gt/YS13aW5kb3ctaWxs/dW1pbmF0aW5nLWEt/ZGFyay1hbmQtdGV4/dHVyZWQtcm9vbS1w/aG90by5qcGc");
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: white;
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
}

header {
    margin: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1%;
}

.logo {
    cursor: pointer;
    margin-right: 65%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.logo:hover {
    color: rgb(35, 156, 49);
    transition: all 0.3s ease;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
   color: rgb(35, 156, 49);
   transition: all 0.3s ease;
}

.cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(45, 246, 246);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.cta:hover {
    background-color: rgb(35, 156, 49);
    color: white;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
     font-size: 3em;
    text-align: center;
    margin-top: 10%;
}

.home-button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: rgb(45, 246, 246);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-button:hover {
    background-color: rgb(35, 156, 49);
    color: white;
}

footer {
    border-top: 1px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}