@charset "UTF-8";

h2 {
    font-size: 3em;
    text-align: center;
    margin-top: 10%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;

}

label {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #FFFFFF;
}

input[type="email"], input[type="password"] {
    margin-bottom: 10%;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    background-color: white;
    color: #000000;
    font-size: 1.2em;
}

.login-button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    padding: 10px 20px;
    text-align: center;
    
    font-size: 1.2em;
    cursor: pointer;
}

.forgot-password {
    color: #FFFFFF;
    text-align: center;
    margin-top: 20px;
}

a#forgot-password-link {
    color: #FFFFFF;
    text-decoration: underline;
    font-size: 1.2em;
  
}

a#signup-link {
    color: #0015ff;
    text-decoration: underline;
    font-size: 1.2em;
    margin-top: 20px;
}

